body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

td {
    /*font-family: 'Fixedsys Excelsior 3.01';*/
    font-size: 16px;
}

input {
    width: 150px;
}

button {
    width: 158px;
}

table {
    margin-left: 25px;
    margin-top: 25px;
}

.red {
    color: red;
}

.lime {
    color: lime;
}

.blue {
    color: blue;
}
